// Define variables for your color scheme

// For example:
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #98D2EB;
$light-gray: #F4F4F4;
$dark-gray: #616668;
$bright-red: #da552f;
$dark-blue: #3E517A;
$red: #D4312D;
$blue: #5E74ED;
